@import "tailwindcss";

:root {
  --tree-bg-from: #e2944a;
  --tree-bg-to:   #522e2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tree-bg-from: #724517;
    --tree-bg-to:   #281c16;
  }
}